<a href="https://colab.research.google.com/github/msjumana78-bit/ict.assignment/blob/main/assignment03_jumana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a Python function to find the Max of three numbers

a = int(input("enter a number:"))
b = int(input("enter a number:"))
c = int(input("enter a number:"))
print(maximum(a,b,c))
def maximum(a,b,c):
  print(a,b,c)
  if(a>b) and (a>c):
    max=a
  elif(b>a) and (b>c):
    max=b
  elif(c>a) and (c>b):
    max=c
  return(max)

enter a number:6
enter a number:9
enter a number:10
6 9 10
10

In [ ]:
#Write a Python function to sum all the numbers in a list.

def sum(numbers):
  total=0
  for x in numbers:
    total+=x
  return total
print(sum((8,2,3,0,7)))

20

In [6]:
#Python program to insert a number to any position in a list (Get the number
to be inserted and position from the user)


number=[23,44,55,77,99]
number.insert(2,88)
number

[23, 44, 88, 55, 77, 99]

In [9]:
#Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
print(f"Original dictionary: {sample_dict}")

# Get the value associated with the 'city' key
city_value = sample_dict.pop('city')

# Add a new key 'location' with the retrieved value
sample_dict['location'] = city_value

print(f"Dictionary after renaming 'city' to 'location': {sample_dict}")

Original dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
Dictionary after renaming 'city' to 'location': {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [14]:
sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [22]:
tuple1 = (11, 22, 33, 44, 55, 66)
new_tuple =(tuple1[3],tuple1[4])
print(new_tuple)

(44, 55)

In [21]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
count_50 = tuple1.count(50)
print(f"The number of occuirence of 50 is: {count_50}")

The number of occuirence of 50 is: 3